/src/App/Config/*
/build/
/src/Public/img/surf_prev/tmp/
/src/Public/img/surf_prev/mean_wave_direction/
/src/Public/img/surf_prev/significant_wave_height/
/src/Public/img/surf_prev/swell_wave_height/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
